<html>
    <head>
        <title>{{ title }} - Rock Paper Scissors</title>
    </head>
        <h1>Rock Paper Scissors!</h1>
        <h2>Welcome to my rock paper scissors game.</h2>
        <div>
            <h3>How to play:</h3>
                <ul>
                    <il>1. Rock wins against scissors</il><br>
                    <il>2. Paper wins against rock</il><br>
                    <il>3. Scissors wins against paper</il><br>
                    <il>4. Player 1 goes first. Please make your choice...</il><br>
                </ul>
        </div>
        <div>
            <a href="http://localhost:5000/player1rock">Rock!</a>
            <a href="http://localhost:5000/player1paper">Paper!</a>
            <a href="http://localhost:5000/player1scissors">Scissors!</a>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>