<html>
    <head>
        <title>{{ title }} - Rock Paper Scissors</title>
    </head>
        <h1>Rock Paper Scissors!</h1>
        <h2>Welcome to my rock paper scissors game.</h2>
        <div>
            <h3>How to play:</h3>
                <ul>
                    <il>1. rock wins against scissors</il><br>
                    <il>2. paper wins against rock</il><br>
                    <il>3. scissors wins against paper</il><br>
                    <il>4. please enter the choice for both player 1 and player 2 in the URL above (eg. ../welcome/rock/paper)</il><br>
                </ul>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>