<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Single Order</h1>
        <div>
            <p>
               {{current_order.number}} {{current_order.date}} {{current_order.cust_name}} {{current_order.item_name}} {{current_order.item_description}} {{current_order.type}} {{current_order.qty}}   
            </p>
        </div>
</html>