body {
    font-family: 'Audiowide', cursive;
    background-color: rgb(130, 191, 39);
  }

h1 {
  font-size: 50px;
}

#new-golfer-form {
  font-size: 20px;
  line-height: 30px;
}

ul {
  padding: 20px;
}